<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Layout</title>
    <meta name="description" content="Resources to learn more about CSS Layout">
    <link rel="stylesheet" href="/learning-modules/css/index.css">
    <link rel="stylesheet" href="/learning-modules/css/prism-coy.css">
    <link rel="alternate" href="/learning-modules/feed/feed.xml" type="application/atom+xml" title="WDD Learning Modules">
    <link rel="alternate" href="/learning-modules/feed/feed.json" type="application/json" title="WDD Learning Modules">
  </head>
  <body>
    <header>
      <div class="branding">
        <a href="/learning-modules/">
          <img src="/learning-modules/img/TwoLineMonogram_white.svg" alt="BYU-I logo" class="logo">
        </a>
        <h1 class="vertical-text">WDD Learning Modules</h1>
      </div>
      <nav>
        <ul class="nav">
            <li class="nav-item">
              <a href="/learning-modules/">Home</a>
            </li>
            <li class="nav-item">
              <a href="/learning-modules/modules/html/">HTML</a>
            </li>
            <li class="nav-item">
              <a href="/learning-modules/modules/js/">JS</a>
            </li>
            <li class="nav-item">
              <a href="/learning-modules/modules/css/">CSS</a>
            </li>
            <li class="nav-item">
              <a href="/learning-modules/modules/design/">Design</a>
            </li>
            <li class="nav-item">
              <a href="/learning-modules/modules/general/">General</a>
            </li>
        </ul>
      </nav>
    </header>
    <main  class="tmpl-post" >
      
<h1>CSS Layout</h1>




<h2 id="css-layout" tabindex="-1">CSS Layout <a class="direct-link" href="#css-layout" aria-hidden="true">#</a></h2>
<p>Practice with the 'Try it Yourself' buttons on these <a href="http://w3schools.com">w3schools.com</a> pages to understand these different forms of laying out parts of a web page.</p>
<ul>
<li>
<p><a href="https://www.w3schools.com/css/css_float.asp">w3schools Layout - float</a></p>
</li>
<li>
<p><a href="https://www.w3schools.com/css/css_positioning.asp">w3schools Layout - The position Property</a></p>
</li>
<li>
<p><a href="https://www.w3schools.com/css/css3_flexbox_container.asp">w3schools Layout - Flex Container</a></p>
</li>
<li>
<p><a href="https://www.w3schools.com/css/css_grid.asp">w3schools CSS Grid Layout Module</a></p>
</li>
</ul>

</main>
    <footer>
      <p class="license">
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png"/></a><br/>This work is licensed under a
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0
          International License</a>.</p>
    </footer><!-- Current page: /learning-modules/modules/design/layout/prepare1/ --></body>
</html>
